*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.header_container{
    width: 100%;
    height: 122px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_logo,
.header_carrito{
    padding: 1rem;
}

.hero_container{
    background: url(img/hero.jpg);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.hero_texto{
    color: white;
    margin-left: 2rem;
}

.hero_texto h1{
    font-weight: 400;
    padding: 1rem 0; 
}

.hero_texto p{
    font-weight: 100;
    padding-bottom: 1rem; 
}

.form{
    position: relative;
}
.buscar{
    width: 100%;
    height: 2.5rem;
}

.submit{
    position: absolute;
    right: 6.5rem;
    top: 21.1rem;
    text-indent: -9999px;
    width: 2rem;
    height: 1.5rem;
    border: none;
    background: url(img/lupa.png);
}

.info_container{
        width: min(100%, 960px); 
        margin: 0 auto; 
        height: 20rem;
        padding: 0 20px;
        background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
}

.info_tarjeta{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.info_tarjeta:nth-child(1) img{
    width: 1.6rem;

}
.info_icono{
    padding: 0 1rem;
}

.info_icono img{
    width: 2rem;
}

.info_text{
    color: white;
    justify-content: center;
}

/*Tienda */
.container {
    width: min(80%, 960px);
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      width: min(80%, 960px);
      margin: 0 auto;
    }
  }
  
  .title {
    text-align: center;
    justify-content: center;
  }
  
  /* /Curso/ */
  
  .curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    flex-wrap: 1rem;
    margin: 1rem;
  }
  
  @media (min-width: 768px) {
    .cursos-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      column-gap: 1rem;
    }
  }
  
  /* /Precios/ */
  .precios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .precio-normal {
    text-decoration: line-through;
    font-size: 1rem;
    /* justify-content: center; */
  }
  
  .precio-descuento {
    font-size: 1rem;
    font-weight: 700;
    /* padding-left: 3rem; */
  }
  
  /* /Boton/ */
  
  .btn {
    color: #ffff;
    background-color: rgb(82, 157, 207);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1rem 6rem;
    text-transform: uppercase;
  }

@media screen and (min-width: 768px){
    .header_container{
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
    }
    .hero_texto{
        width: 25rem;
    }
    .info_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100px;
    }
    .info_tarjeta{
        padding: 0 1rem;
    }
    .hero_texto{
        margin-left: 10rem;
        width: 30rem;
    }
}